In [12]:
import pandas as pd
#get_dumies

In [13]:
data = pd.read_csv("dataset-tortuga.csv", encoding='latin-1')

data.head()

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND,PROFILE
0,7.0,39.0,29.0,2.0,4.0,0.0,2.0,5.0,0.0,84.0,74.0,NaN,beginner_front_end
1,32.0,0.0,44.0,2.0,0.0,0.0,0.0,5.0,0.0,67.0,45.0,NaN,beginner_front_end
2,45.0,0.0,59.0,0.0,5.0,4.0,0.0,4.0,1.0,NaN,54.0,47.0,advanced_front_end
3,36.0,19.0,28.0,0.0,5.0,7.0,0.0,5.0,3.0,NaN,71.0,89.0,beginner_data_science
4,61.0,78.0,38.0,6.0,11.0,0.0,4.0,3.0,0.0,66.0,85.0,NaN,advanced_front_end

In [14]:
""" data = pd.get_dummies(data, columns = ['smoking_status'])

data['is_urban'] = (data['Residence_type'] == 'Urban' ).astype(int)

data """

" data = pd.get_dummies(data, columns = ['smoking_status'])\n\ndata['is_urban'] = (data['Residence_type'] == 'Urban' ).astype(int)\n\ndata "

In [15]:
data = pd.read_csv("dataset-tortuga.csv", encoding='latin-1')



UniqueData = [
    [ list( data.PROFILE.unique() ), "PROFILE" ],
]

DictData = []

for value, name in UniqueData:
    DictData.append(  [ dict( zip( value,  [i for i in range( len(value) ) ] ) ), name ])

newDataSet = pd.DataFrame()

newDataSet["HOURS_DATASCIENCE"] = data['HOURS_DATASCIENCE']
newDataSet["HOURS_BACKEND"] = data['HOURS_BACKEND']
newDataSet["HOURS_FRONTEND"] = data['HOURS_FRONTEND'] 
newDataSet["NUM_COURSES_BEGINNER_DATASCIENCE"] = data['NUM_COURSES_BEGINNER_DATASCIENCE'] 
newDataSet["NUM_COURSES_BEGINNER_BACKEND"] = data['NUM_COURSES_BEGINNER_BACKEND'] 
newDataSet["NUM_COURSES_BEGINNER_FRONTEND"] = data['NUM_COURSES_BEGINNER_FRONTEND'] 
newDataSet["NUM_COURSES_ADVANCED_DATASCIENCE"] = data['NUM_COURSES_ADVANCED_DATASCIENCE'] 
newDataSet["NUM_COURSES_ADVANCED_BACKEND"] = data['NUM_COURSES_ADVANCED_BACKEND'] 
newDataSet["NUM_COURSES_ADVANCED_FRONTEND"] = data['NUM_COURSES_ADVANCED_FRONTEND'] 
newDataSet["AVG_SCORE_DATASCIENCE"] = data['AVG_SCORE_DATASCIENCE'] 
newDataSet["AVG_SCORE_BACKEND"] = data['AVG_SCORE_BACKEND'] 
newDataSet["AVG_SCORE_FRONTEND"] = data['AVG_SCORE_FRONTEND'] 

for value, name in DictData:
    newDataSet[name] = data[name].map(value)

newDataSet = newDataSet.dropna()
newDataSet.to_csv("dataset-tortuga-2.csv", index=False)

newDataSet

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND,PROFILE
11,39.0,52.0,34.0,2.0,4.0,4.0,1.0,5.0,5.0,69.0,65.0,73.0,3
12,28.0,44.0,16.0,3.0,2.0,5.0,0.0,4.0,4.0,41.0,40.0,76.0,2
13,74.0,36.0,41.0,2.0,5.0,2.0,3.0,4.0,2.0,52.0,77.0,66.0,1
14,69.0,40.0,18.0,4.0,3.0,5.0,4.0,7.0,6.0,40.0,82.0,78.0,4
15,46.0,102.0,44.0,7.0,9.0,3.0,5.0,3.0,3.0,69.0,94.0,50.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,44.0,42.0,8.0,4.0,7.0,3.0,3.0,3.0,74.0,73.0,93.0,5
19996,0.0,85.0,63.0,3.0,5.0,0.0,4.0,7.0,3.0,50.0,83.0,94.0,1
19997,32.0,50.0,22.0,0.0,4.0,0.0,6.0,2.0,3.0,61.0,81.0,75.0,5
19998,0.0,96.0,69.0,3.0,3.0,3.0,5.0,7.0,4.0,64.0,68.0,68.0,1
19999,51.0,24.0,36.0,4.0,2.0,7.0,0.0,0.0,2.0,63.0,61.0,87.0,4